
.table-view .table-cell{
	-fx-font-family: "emulogic";
	-fx-text-fill: white;
	-fx-font-size: 25px;
	-fx-background-color: transparent;
	
}
.table-view .table-cell:hover{

	-fx-font-size: 26px;

}
.table-view .table-cell:active{

	-fx-font-size: 30px;

}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "emulogic";
    -fx-font-size: 25px;
}
.table-row-cell{
   -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-view .filler{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view{
	-fx-background-color: transparent;
	-fx-padding: 10px;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
    -fx-border-radius :0em;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
    -fx-background-color :transparent;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
    -fx-background-color :transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :white;
    -fx-border-radius :0em;

}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :#f6f6f6;

}
.scroll-bar:horizontal,
.scroll-bar:vertical{
	-fx-background-color :transparent;
}